html {
  font-family: 'Merriweather', serif;
}

header nav a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.topnav {
  background-color: #247ba0;
  overflow: hidden;
  font-family: 'Patua One', cursive;
}

.topnav a {
    color: #fff;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
}

.topnav a:hover {
    background-color: #fff;
    color: #247ba0;
    width: 100%;
}

.topnav a.active {
    background-color: #000;
    color: #fff;
    width: 100%;
}

footer {
    background-color: #247ba0;
    color: #fff;
    text-align: center;
}

.footerlink {
  color: #b2dbbf;
}

.banner-text {
  color: #fff;
  padding-top: 15em;
  font-family: 'Patua One', cursive;
}

.btn {
  background-color:  #b2dbbf;
  border-color: #247ba0;
  border-radius: 10px;
  color: #000;
  font-family: 'Patua One', cursive;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #247ba0;
}

.btn-ghost {
 color:  #000;
}

.card-btn {
  width: 150px;
  text-align: center;
}












@media only screen and (min-width: 25em) {

  html {

  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {

  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  header ul li {
    display: inline-block;
    width: 13%;
  }


.banner-text {
  padding-top: 0;
}

@media only screen and (min-width: 60em) {

  html {

  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
   }

}
