html {
  font-family: 'Merriweather', serif;
}

header nav a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

nav {
  background-color: #247ba0;
  overflow: hidden;
  font-family: 'Patua One', serif;
}

nav a {
  color: #fff;
  text-align: center;
  padding: 1em 0em 1em 0em;
  text-decoration: none;
}

nav a:hover {
  background-color: #fff;
  color: #247ba0;
  width: 100%;
}

nav a.active {
  background-color: #000;
  color: #fff;
  width: 100%;
}

footer {
  background-color: #247ba0;
  color: #fff;
  text-align: center;
}

.footerlink {
  color: #b2dbbf;
}

.banner-text {
  color: #fff;
  font-family: 'Patua One', cursive;
  width: 300px;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  background-color:  #b2dbbf;
  border-color: #247ba0;
  border-radius: 10px;
  color: #000;
  font-family: 'Patua One', cursive;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #247ba0;
}

.btn-ghost {
 color:  #000;
}

.card-btn {
  width: 150px;
  text-align: center;
}

.pet {
border: 2px solid #333;
border-radius: 10px;
padding-bottom: 1em;
padding-top: .5em;
}

.available {
  margin: 0;
  padding: 0;
  padding-top: 1em;
}

.cardbg {
  background-color: #e3e3e3;
  margin: 0;
}

@media only screen and (min-width: 25em) {

  h1,
  p {
    margin: 0 0 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  header ul li {
    display: inline-block;
    width: 13%;
  }


.banner-text {
  padding-top: 0;
    width: 500px;
}

nav a.active {
  background-color: #000;
  color: #fff;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

ul {
  margin: 0;
}

.narrowcard {
  padding-left: 4em;
  padding-right: 4em;
}

@media only screen and (min-width: 60em) {

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .narrowcard {
    padding-left: 0em;
    padding-right: 0em;
  }

}

@media only screen and (min-width: 90em) {

}
